<header>
    <div class="time">
        <div class="till">
            <div class="button" (click)=refreshTimeTillView()>
                <button class="reload"></button>
                <p>Till</p>
                <div class="times" [class.updating]=isTillTimeUpdating>
                    <p #tilltime class="time old">{{timeTillView.old}}</p>
                    <p #tilltime class="time new">{{timeTillView.new}}</p>
                </div>
            </div>
        </div>
        <div class="total" [class.updating]=isTotalUpdating >
            <div class="old">
                <div class="content">
                    <div class="hours">
                        <p class="hours">{{totalTimeView.old.hours}}</p>
                        <p #totalhours>h</p>
                    </div>
                    <div class="minutes">
                        <p class="minutes">{{totalTimeView.old.minutes}}</p>
                        <p #totalminutes>m</p>
                    </div>
                </div>
            </div>
            <div class="new">
                <div class="content">
                    <div class="hours">
                        <p class="hours">{{totalTimeView.new.hours}}</p>
                        <p #totalhours>h</p>
                    </div>
                    <div class="minutes">
                        <p class="minutes">{{totalTimeView.new.minutes}}</p>
                        <p #totalminutes>m</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button (click)=addTodosFromClipboard() #repaste class="repaste">Repaste</button>
</header>

<div class="todos-area"
    (drop)=onDragOver($event)
    (dragover)=onDragOver($event)
>

    <div class="todos">

        <todo-component

            *ngFor="let todo of appTodos"

            [ngStyle]="{'animation-delay': todo.delayToAppear}"

            [todoTitle]=todo.todoTitle
            [duration]=todo.durationText
            [durationMs]=todo.durationMs

            [class.isRemoved]=todo.isRemoved

            matRipple
            matRippleColor="rgba(229, 34, 34, 0.3)"

            (todoToggled)="reactOnTodoToggle()"

        ></todo-component>

    </div>


</div>
